
.scrollable-tabs-container {
	position: relative;
}
.scrollable-tabs-viewport {
	overflow: hidden;
	position: relative;
}
.scrollable-tabs-items-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;

	background-color: #EFEFEF;
	border: 1px solid #454545;
}
.scrollable-tabs-item {
	float: left;
	padding: 5px 10px;

	font: 12px Arial;
	color: #454545;
}
.scrollable-tabs-button-left {
	position: absolute;
	left: 0;


}
.scrollable-tabs-button-right {
	position: absolute;
	right: 0;
}



