
.scrollable-tabs-container {
	position: relative;
}
.scrollable-tabs-viewport {
	overflow: hidden;
	position: relative;
}
.scrollable-tabs-items-container {
	position: relative;
}
.scrollable-tabs-item {
	float: left;
}
.scrollable-tabs-button-left {
	position: absolute;
	left: 0;
	z-index: 10;

    background-color: #454545;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    height: 40px;
    width: 10px;
    cursor: pointer;
}
.scrollable-tabs-button-right {
	position: absolute;
	right: 0;
	z-index: 10;

    background-color: #454545;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    height: 40px;
    width: 10px;
    cursor: pointer;
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.scrollable-tabs-clearfix:before,
.scrollable-tabs-clearfix:after {
    content: " ";
    display: table;
}
.scrollable-tabs-clearfix:after {
    clear: both;
}
.scrollable-tabs-clearfix {
    *zoom: 1;
}


