
.scrollable-tabs-viewport {
	overflow: hidden;
	position: relative;
}
.scrollable-tabs-items-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 3000px;
}
.scrollable-tabs-item {
	float: left;
	padding: 5px 10px;
	border: 1px solid silver;
}
.scrollable-tabs-button-left {
	float: left;
}
.scrollable-tabs-button-right {
	float: right;
}



